:root {
  --color-brand--1: #fcff45;
  --color-brand--2: #00bec4;

  --color-dark--1: #0a151d;
  --color-dark--2: #3f464d;
  --color-light--1: rgb(170, 170, 170);
  --color-light--2: #e8e8e8;
  --color-light--3: rgb(220, 220, 220);
}
